### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [4]:
total_players = len(purchase_data["SN"].value_counts())
total_players
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count.style.hide_index()

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_data_analyis = purchase_data.groupby("Item ID").nunique()
total_item_id = purchase_data_analyis.shape[0]
total_item_id

179

In [46]:
Ave_transact = purchase_data[["Price"]]
Ave_transact = Ave_transact.mean()
Ave_transact = Ave_transact.round(decimals=2)
Ave_transact = float(Ave_transact)
Ave_transact

3.05

In [47]:
tot_rev = purchase_data[["Price"]]
tot_rev = tot_rev.sum()
tot_rev = tot_rev
tot_rev = float(tot_rev)
tot_rev

2379.77

In [48]:
num_purch = purchase_data.groupby("Purchase ID").nunique()
num_purch = num_purch.shape[0]
num_purch

780

In [68]:
summary_df = pd.DataFrame({"Number of Unique Items":[total_item_id],
                           "Average Price":[Ave_transact], 
                           "Number of Purchases": [num_purch], 
                           "Total Revenue": [tot_rev]})

summary_df.style.format({"Total Revenue":"${:.2f}", "Average Price": "${:.2f}"}).hide_index()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
purchase_data
gender_groups = purchase_data.groupby('Gender')
gender_trips = gender_groups['SN'].count()
gender_trips = pd.DataFrame(data=gender_trips)
gender_trips = gender_trips.rename(columns={"SN": "Total Count", "Gender": "Beans"})
gender_trips

                       Total Count
Gender
Female                         113
Male                           652
Other / Non-Disclosed           15

In [23]:
gen_stats = purchase_data.groupby("Gender")
total_count_gender = gen_stats.nunique()["SN"]
percentage_of_players = total_count_gender / total_players * 100
gen_summery = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})
gen_summery.index.name = None
gen_summery.style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
purchase_count = gen_stats["Purchase ID"].count()
avg_purchase_price = gen_stats["Price"].mean()
avg_purchase_total = gen_stats["Price"].sum()
avg_purchase_per_person = avg_purchase_total/total_count_gender


gender_demo = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

gender_demo.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [34]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data
age_grouped = purchase_data.groupby("Age Group")
total_count_age = age_grouped["SN"].nunique()
percentage_by_age = (total_count_age/total_players) * 100
age_demo = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})
age_demo.index.name = None
age_demo.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# default cell do not run

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [75]:
purchase_count_age = age_grouped["Purchase ID"].count()

avg_purchase_price_age = age_grouped["Price"].mean()
total_purchase_value = age_grouped["Price"].sum()

avg_purchase_per_person_age = total_purchase_value/total_count_age
age_demo = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total Per Person": avg_purchase_per_person_age})

age_demo.index.name = None
age_demo.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# original cell do not run

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [86]:
sp_stats = purchase_data.groupby("SN")
purchase_count_sp = sp_stats["Purchase ID"].count()
avg_price_sp = sp_stats["Price"].mean()
purchase_tot_sp = spender_stats["Price"].sum()
top_sp = pd.DataFrame({"Purchase Count": purchase_count_sp,
                             "Average Purchase Price": avg_price_sp,
                             "Total Purchase Value": purchase_tot_sp})
format_sp = top_sp.sort_values(["Total Purchase Value"], ascending=False).head()
format_sp.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Original Do not run or risk a terrible fate

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [89]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_stats = items.groupby(["Item ID","Item Name"]) 
purchase_count_item = item_stats["Price"].count()
purchase_value = (item_stats["Price"].sum()) 


item_price = purchase_value/purchase_count_item
most_pop_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})
pop_format = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()


pop_format.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# tremble before the almighty and immuitable original table fear me and rejoice in my sacrosanct formatting (do not run this cell)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

In [90]:
pop_format = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()

pop_format.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [ ]:
#job done